<div class="animated fadeIn">
    <div class="incomebox">
        <div class="order_search_box">
            <div class="errtips_box js_errtips_box">没有找到记录，请调整搜索条件。</div>
            <div class="search_form_box">
                <div class="row">
                    <div class="col-md-4 col-sm-6 ui-flex">
                        <label for="times1">开始时间:</label>
                        <div class="inputbox datetime_box">
                            <input type="text" id="times1" class="form_datetime">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ui-flex">
                        <label for="times2">结束时间:</label>
                        <div class="inputbox datetime_box">
                            <input type="text" id="times2" class="form_datetime">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ui-flex">
                        <div class="btnbox">
                            <a href="javascript:;" class="searchbtn js_searchbtn">查询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="33.333%">日期</th>
                        <th width="33.333%" class="talc">信息</th>
                        <th width="33.333%" class="talr">保证金</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="c999">2017-06-14 16:16:20</td>
                        <td class="talc">订单支付成功</td>
                        <td class="talr cff3d3d">+99.00</td>
                    </tr>
                    <tr>
                        <td class="c999">2017-06-14 16:16:20</td>
                        <td class="talc">提现审核--手续费1.0000元</td>
                        <td class="talr cff3d3d">+99.00</td>
                    </tr>
                    <tr>
                        <td class="c999">2017-06-14 16:16:20</td>
                        <td class="talc">提现审核--手续费1.0000元</td>
                        <td class="talr cff3d3d">+99.00</td>
                    </tr>
                    <tr>
                        <td class="c999">2017-06-14 16:16:20</td>
                        <td class="talc">提现审核--手续费1.0000元</td>
                        <td class="talr cff3d3d">+99.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mypagination_box">
            <ul class="mypagination">
                <li><a href="#" class="nnbtn disabled">首页</a></li>
                <li><a href="#" class="previous_btn">上一页</a></li>
                <li><a href="#" class="pagenum">3</a></li>
                <li><a href="#" class="next_btn">下一页</a></li>
                <li><a href="#" class="nnbtn">尾页</a></li>
                <li><span class="curtxt">3/9 页</span></li>
                <li><input type="text" class="ibox"></li>
                <li><a href="#" class="nnbtn">跳转</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="js/bootstrap-datetimepicker.min.js"></script>

<script>

;(function($){
	$.fn.datetimepicker.dates['zh-CN'] = {
			days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
			daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
			daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
			months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			today: "今天",
			suffix: [],
			meridiem: ["上午", "下午"]
	};
}(jQuery));

$(".form_datetime").datetimepicker({
    format: 'yyyy-mm-dd',
    minView:2,
    language: 'zh-CN',
    autoclose: 1,
    gotoCurrent: true
});

$('.searchbtn').bind('click', function () {
    showErrorTips();
})
function showErrorTips() {
    $('.errtips_box').fadeIn();
    setTimeout(hideErrorTips,2000);  // 测试demo 用
}

function hideErrorTips() {
    $('.errtips_box').fadeOut();
}

</script>