<div class="animated fadeIn">
    <div class="changepsw_box">
        
        <div class="tipsbox success">恭喜您，修改登录密码成功！</div>
        <!-- 四种提示框 通过类名来展现 -->
        <!--
        <div class="tipsbox warning">今日修改密码次数已达上限！</div>
        <div class="tipsbox info">为了提升您的密码安全性，建议使用英文字母加数字或符号的适合密码！</div>
        <div class="tipsbox error">很抱歉！您输入的用户名错误，请重新输入！</div>
        -->
        <div class="pswformbox">
            <h2 class="title">修改登录密码</h2>
            <div class="elebox">
                <label for="username">用户名：</label>
                <div class="inputbox">
                    <input type="text" id="username">
                </div>
            </div>
            <div class="elebox">
                <label for="oldpwd">旧登录密码：</label>
                <div class="inputbox">
                    <input type="password" id="oldpwd">
                </div>
            </div>
            <div class="elebox">
                <label for="newpsw">新登录密码：</label>
                <div class="inputbox">
                    <input type="password" id="newpsw">
                </div>
            </div>
            <div class="elebox">
                <label for="confirmpsw">确认新密码：</label>
                <div class="inputbox">
                    <input type="password" id="confirmpsw">
                </div>
            </div>
            <div class="elebox btnbox">
                <a href="#" class="submit_btn">确定</a>
                <a href="#" class="back_btn">返回</a>
            </div>
        </div>
    </div>
</div>
