<div class="animated fadeIn">
    <div class="order_search_box">
        <div class="errtips_box js_errtips_box">没有找到记录，请调整搜索条件。</div>
        <div class="search_form_box">
            <div class="row">
                <div class="col-md-4 col-sm-6 ui-flex">
                    <label for="sysorder">系统订单:</label>
                    <div class="inputbox">
                        <input type="text" id="sysorder">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ui-flex">
                    <label for="czchannel">充值通道:</label>
                    <div class="selectbox">
                        <select name="" id="czchannel">
                            <option value="">请选择</option>
                            <option value="">微信</option>
                            <option value="">支付宝</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col-md-4 col-sm-6 ui-flex">
                    <label for="orderstatus">订单状态:</label>
                    <div class="selectbox">
                        <select name="" id="orderstatus">
                            <option value="">成功订单</option>
                            <option value="">失败订单</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col-md-4 col-sm-6 ui-flex">
                    <label for="clientorder">商户订单:</label>
                    <div class="inputbox">
                        <input type="text" id="clientorder">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ui-flex">
                    <label for="startimes">开始时间:</label>
                    <div class="inputbox datetime_box">
                        <input type="text" id="startimes" class="form_datetime">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ui-flex">
                    <label for="endtimes">结束时间:</label>
                    <div class="inputbox datetime_box">
                        <input type="text" id="endtimes" class="form_datetime">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ui-flex">
                    <label for="contact">联系方式:</label>
                    <div class="inputbox">
                        <input type="text" id="contact">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ui-flex">
                    <div class="btnbox">
                        <a href="javascript:;" class="searchbtn js_searchbtn">查询</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="total_num_box">
                        <div>订单总金额：<span class="cff3d3d">0.10</span> 元</div>
                        <div>商户收入金额：<span class="c999">0.00</span> 元</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search_table_box">
            <div class="row">
                <div class="col-12">
                    <div class="neworder_box">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>系统订单号</th>
                                        <th>客户订单号</th>
                                        <th class="talc">所走通道</th>
                                        <th class="talr">订单金额</th>
                                        <th>分成金额</th>
                                        <th>分成比例</th>
                                        <th class="talc">回调时间</th>
                                        <th class="talr">支付状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp2</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2000.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:20</td>
                                        <td class="talr">已支付</td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp1</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:11</td>
                                        <td class="talr"><span class="cff3d3d">未支付</span></td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp2</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2000.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:20</td>
                                        <td class="talr">已支付</td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp1</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:11</td>
                                        <td class="talr"><span class="cff3d3d">未支付</span></td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp2</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2000.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:20</td>
                                        <td class="talr">已支付</td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp1</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:11</td>
                                        <td class="talr"><span class="cff3d3d">未支付</span></td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp2</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2000.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:20</td>
                                        <td class="talr">已支付</td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp1</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:11</td>
                                        <td class="talr"><span class="cff3d3d">未支付</span></td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp2</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2000.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:20</td>
                                        <td class="talr">已支付</td>
                                    </tr>
                                    <tr>
                                        <td class="c999">8B6kSyuNyp1</td>
                                        <td class="c999">R0TL44C35FBF</td>
                                        <td class="talc">4</td>
                                        <td class="talr"><span class="cff3d3d">2.00</span></td>
                                        <td>0.00</td>
                                        <td>99.00%</td>
                                        <td class="c999 talc">2017-06-14 16:16:11</td>
                                        <td class="talr"><span class="cff3d3d">未支付</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="mypagination_box">
                            <ul class="mypagination">
                                <li><a href="#" class="nnbtn disabled">首页</a></li>
                                <li><a href="#" class="previous_btn">上一页</a></li>
                                <li><a href="#" class="pagenum">3</a></li>
                                <li><a href="#" class="next_btn">下一页</a></li>
                                <li><a href="#" class="nnbtn">尾页</a></li>
                                <li><span class="curtxt">3/9 页</span></li>
                                <li><input type="text" class="ibox"></li>
                                <li><a href="#" class="nnbtn">跳转</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/bootstrap-datetimepicker.min.js"></script>

<script>

;(function($){
	$.fn.datetimepicker.dates['zh-CN'] = {
			days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
			daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
			daysMin:  ["日", "一", "二", "三", "四", "五", "六", "日"],
			months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
			today: "今天",
			suffix: [],
			meridiem: ["上午", "下午"]
	};
}(jQuery));
$(".form_datetime").datetimepicker({
    format: 'yyyy-mm-dd',
    minView:2,
    language: 'zh-CN',
    autoclose: 1
});

$('.searchbtn').bind('click', function () {
    showErrorTips();
})
function showErrorTips() {
    $('.errtips_box').fadeIn();
    setTimeout(hideErrorTips,2000);  // 测试demo 用
}

function hideErrorTips() {
    $('.errtips_box').fadeOut();
}
</script>