<div class="animated fadeIn">
    <div class="payway_box">
        <h2 class="title">支付通道</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="33.33%">充值方式</th>
                        <th width="33.33%" class="talc">费率</th>
                        <th width="33.33%" class="talr">目前状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="c999">测试通道-aliqr</td>
                        <td class="talc">1.2%</td>
                        <td class="talr c0d7efb">已生效</td>
                    </tr>
                    <tr>
                        <td class="c999">测试通道-weixinqr</td>
                        <td class="talc">1.6%</td>
                        <td class="talr c0d7efb">已生效</td>
                    </tr>
                    <tr>
                        <td class="c999">测试通道-aliqr</td>
                        <td class="talc">1.2%</td>
                        <td class="talr c0d7efb">已生效</td>
                    </tr>
                    <tr>
                        <td class="c999">测试通道-weixinqr</td>
                        <td class="talc">1.6%</td>
                        <td class="talr c0d7efb">已生效</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>