<div class="animated fadeIn">
    <div class="withdrawcash_box">
        <h2 class="title">保证金提现</h2>
        <div class="from_box">
            <ul class="data_list">
                <li>
                    <div class="left_txt">保证金：</div>
                    <div class="right_txt">17.80元</div>
                </li>
                <li>
                    <div class="left_txt">保证金不可提现额：</div>
                    <div class="right_txt">17.80元</div>
                </li>
                <li>
                    <div class="left_txt">保证金不可提现比例：</div>
                    <div class="right_txt">0.00%</div>
                </li>
                <li>
                    <div class="left_txt">提现手续费：</div>
                    <div class="right_txt">1.00元</div>
                </li>
                <li>
                    <div class="left_txt">单日最多可提现次数：</div>
                    <div class="right_txt">6次</div>
                </li>
                <li>
                    <div class="left_txt">最大可提现额：</div>
                    <div class="right_txt">16.80元</div>
                </li>
                <li>
                    <div class="left_txt"><span class="cff3d3d">*</span>提现金额：</div>
                    <div class="right_txt js_edit">
                        <div><input type="text"></div>
                        <p class="tips">注:提现金额为1000.00元起(含1000.00)</p>
                    </div>
                </li>
                <li>
                    <div class="left_txt"><span class="cff3d3d">*</span>开户名：</div>
                    <div class="right_txt"><input type="text"></div>
                </li>
                <li>
                    <div class="left_txt"><span class="cff3d3d">*</span>银行卡号：</div>
                    <div class="right_txt"><input type="text"></div>
                </li>
                <li>
                    <div class="left_txt"><span class="cff3d3d">*</span>开户银行：</div>
                    <div class="right_txt"><input type="text"></div>
                </li>
                <li>
                    <div class="left_txt">开行支行：</div>
                    <div class="right_txt"><input type="text"></div>
                </li>
                <li>
                    <div class="left_txt"><span class="cff3d3d">*</span>提现密码：</div>
                    <div class="right_txt"><input type="text"></div>
                </li>
            </ul>
            <div class="btnbox">
                <a href="#" class="comfir_btn">确认提现</a>
                <a href="#" class="cancer_btn">取消提现</a>
            </div>
            <p class="remarks">备注:最大可提现额=保证金-MAX(保证金*保证金不可提现比例,保证金不可提现额)-提现手续费</p>
        </div>
    </div>
</div>
