<div class="animated fadeIn">
    <div class="tixian_box">
        <h2 class="title">保证金提现</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>开户名</th>
                        <th>银行卡号</th>
                        <th>银行名称</th>
                        <th>行联号<a href="#">获取行联号</a></th>
                        <th>金额（元）</th>
                        <th class="talc">手续费（元）</th>
                        <th class="talr">总计（元）</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="name_ip_box tbelebox"><input type="text"></div>
                        </td>
                        <td>
                            <div class="card_num_box tbelebox"><input type="text" ></div>
                        </td>
                        <td>
                            <div class="card_band_box tbelebox"><input type="text" ></div>
                        </td>
                        <td>
                            <div class="hlh_num_box tbelebox"><input type="text" ></div>
                        </td>
                        <td>
                            <div class="money_num_box  tbelebox"><input type="text" ></div>
                        </td>
                        <td class="talc">100.00</td>
                        <td class="talr cff3d3d">19900.00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="name_ip_box tbelebox"><input type="text"></div>
                        </td>
                        <td>
                            <div class="card_num_box tbelebox"><input type="text" ></div>
                        </td>
                        <td>
                            <div class="card_band_box tbelebox"><input type="text" ></div>
                        </td>
                        <td>
                            <div class="hlh_num_box tbelebox"><input type="text" ></div>
                        </td>
                        <td>
                            <div class="money_num_box  tbelebox"><input type="text" ></div>
                        </td>
                        <td class="talc">100.00</td>
                        <td class="talr cff3d3d">19900.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="add_card_btn_box">
            <!-- 删掉 下面a标签的 类名 disabled 变成可点击 -->
            <a href="javascript:;" class="add_card_btn disabled">+ 添加一张银行卡</a>
        </div>
        <div class="num_txt_box">
            <div class="e_right_box">
                <ul class="a_list">
                    <li>
                        <span class="left_txt">总提现金额：</span>
                        <div class="right_txt_box"><strong class="cff3d3d">200000.00</strong> 元</div>
                    </li>
                    <li>
                        <span class="left_txt">总手续费：</span>
                        <div class="right_txt_box"><strong class="c000">100.00</strong> 元</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="num_submit_box">
            <div class="e_right_box">
                <ul class="a_list">
                    <li>
                        <span class="left_txt">提现密码：</span>
                        <div class="right_txt_box">
                            <div class="input_box">
                                <input type="password">
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="left_txt">短信验证码：</span>
                        <div class="right_txt_box">
                            <div class="input_box">
                                <input type="text" class="code_input">
                                <!-- 发送后添加类名 disabled ， 没发送不用添加类名 disabled-->
                                <a href="javascript:;" class="gcode_brn disabled">60s后再发送</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="submit_btn_box">
                    <a href="javascript:;" class="submit_btn">确定提现</a>
                </div>
                
            </div>
        </div>

        <div class="btm_txt">温馨提示：财务将尽快审核您的提现申请，请耐心等候。到账时间以银行受理时间为准</div>
    </div>
</div>
